{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="layer"></div>
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <hr>
                <h2 class="pink-font font-four mb-4">My Profile</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="headers">Default Information</p>
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn rounded font-three small-btn" type="submit">Update Information</button>
                </form>
            </div>
        </div>
        <div class="row float-right">
            <div class="col">
                <a href="{% url 'order_history' %}" class="btn rounded font-three small-btn" id="margin">Order History</a>
            </div>
        </div>
        {{ profile }}
{% endblock %}