<div class="col">
    <div class="row">
        <div class="col">
            <p>Order Total:</p>
        </div>
        <div class="col">
            <p>{{ order.order_total }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Delivery Charges:</p>
        </div>
        <div class="col">
            <p>{{ order.delivery_cost }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Grand Total:</p>
        </div>
        <div class="col">
            <p>{{ order.grand_total }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Order Status</p>
        </div>
        <div class="col">
            <p>{{ order.order_status }}</p>
        </div>
    </div>
</div>









