{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div  class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="layer"></div>
    <div class="container h-100">
        <div class="row text-center p-2">
            <div class="col">
                <h2 class="font-two text-uppercase page-header">Lets Checkout</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive rounded tbl small">
                    <table class="table table-sm table">
                        <thead class="pink-font font-three text-align-center">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Item</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        {% for item in basket_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    {% if item.product.image %}
                                        <a href="{% url 'product_details' item.product.id %}">
                                            <img class="rounded basket-img" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                        </a>
                                        
                                    {% else %}
                                        <a href="{% url 'product_details' item.product.id %}">
                                            <img class="rounded basket-img" src="{{ MEDIA_URL }}no_image.webp" alt="{{ item.product.name }}">
                                        </a>   
                                    {% endif %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0">{{ item.product.name }}</p>
                                    <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive rounded tbl small">
                    <table class="table table-sm w-100">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="float-right">
                            <tr>
                                <td>
                                    <p>Order Total:</p>
                                </td>
                                <td>
                                    <p>£{{ total | floatformat:2 }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Delivery:</p>
                                </td>
                                <td>
                                    <p>£{{ delivery | floatformat:2 }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Grand Total:</p>
                                </td>
                                <td>
                                    <p>£{{ grand_total | floatformat:2 }}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="font-four pink-background text-center" id="font-size">Please fill out the form below to complete your order</p>
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset>
                        <legend class="fieldset-label">Your Details</legend>
                        {{ order_form.first_name | as_crispy_field }}
                        {{ order_form.last_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                        {{ order_form.phone_number | as_crispy_field }}
                    </fieldset>
                    <fieldset>
                        <legend class="fieldset-label">Delivery Details</legend>
                        {{ order_form.country | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        <div class="form-check form-check-inline">
                            {% if user.is_authenticated %}
                                <label for="id-save-info" class="form-check-label">Save this delivery information to my profile</label>
                                <input type="checkbox" class="form-check-input" id="id-save-info" name="save-info" checked>
                            {% else %}
                                <label for="id-save-info" class="form-check-label">
                                    <a class="btn rounded font-three" href="{% url 'account_signup' %}">Create an account</a>
                                    <a class="btn rounded font-three" href="{% url 'account_login' %}">login</a> to save this information to your profile
                                </label>
                            {% endif %}
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend class="fieldset-label">Payment</legend>
                        <!-- Stripe card element will go here -->
                            <div id="card-element"></div>
                            <!-- Used to display form errors -->
                            <div id="card-errors" role="alert"></div>
                            <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>
                    <div class="inline-grid float-right">
                        <p class="m-2">Your card will be charged £{{ grand_total|floatformat:2 }}</p>
                        <button class="btn rounded font-three m-2" id="submit-button">Complete Order</button>
                        <a class="btn small-btn rounded font-three m-2" href="{% url 'view_basket' %}">Go back to Shopping Bag</a>
                    </div>
                </form>
            </div>
        </div>
    </div>    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
