{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div  class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="layer"></div>
    <div class="container h-100">
        <div class="row text-center p-2">
            <div class="col">
                <h2 class="font-four page-header">Thank You <strong class="pink-font">{{ order.first_name }}</strong> For Your Order</h2>
                <p class="font-three">Your order information is below. A confirmation email will be sent to {{ order.email }}</p>
                <p class="font-three">If you have not done so already, you can sign up to our <a href="{% url 'newsletter' %}" class="pink-font"><strong>Newsletter</strong></a> for exclusive offers</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="border">
                    <div class="div d-block d-lg-none" id="checkout-success">
                        <div class="row">
                            <h4 class="font-two pink-font bold">Order Information:</h4>
                        </div>
                        <div class="row">
                            {% include "checkout/order_info.html" %}
                        </div>
                        <div class="row">
                            <h4 class="font-two pink-font bold">Order Details:</h4>
                        </div>
                        <div class="row">
                            {% include "checkout/order_line_items.html" %}
                        </div>
                        <div class="row">
                            <h4 class="font-two pink-font bold">Delivery and Contact Information:</h4>
                        </div>
                        <div class="row">
                            <h4 class="font-two pink-font bold">Name:</h4>
                        </div>
                        <div class="row">
                            {% include "checkout/contact_info.html" %}
                        </div>
                        <div class="row">
                            <h4 class="font-two pink-font bold">Delivery Details</h4>
                        </div>
                        <div class="row">
                            {% include "checkout/delivery_info.html" %}
                        </div>
                        <div class="row">
                            <h4 class="font-two pink-font bold">Billing Information:</h4>
                        </div>
                        <div class="row">
                            {% include "checkout/billing_info.html" %}
                        </div>
                    </div>
                    <div class="table-responsive rounded small d-none d-lg-block">
                        <table class="table table-sm">
                                <tr class="pink-background">
                                    <th scope="col" class="font-two">Order Info</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Order Number:</p>
                                    </td>
                                    <td>
                                        <p> {{ order.order_number }} </p>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Order Date:</p>
                                    </td>
                                    <td>
                                        <p> {{ order.date }} </p>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="pink-background">
                                    <th scope="col" class="font-two">Order Details:</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                {% for item in order.lineitems.all %}
                                <tr>
                                    <td>
                                        <p>{{item.product.name}}</p>
                                    </td>
                                    <td>
                                        <p>{{item.quantity}} @ £{{ item.product.price }} each</p>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% endfor %}
                                <tr class="pink-background">
                                    <th scope="col" class="font-two">Delivery and Contact Information:</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                <tr class="pink-background">
                                    <th scope="col" class="font-two">Name:</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                <tr>
                                    <td>
                                        <p>{{ order.first_name }} {{order.last_name}}</p>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="pink-background">
                                    <th scope="col" class="font-two">Address:</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>
                                        <p>{{ order.street_address1 }}, {% if order.street_address2 %}{{ order.street_address2 }}{% endif %}</p>
                                    </td>
                                    
                                    <td>
                                        {% if order.county %}
                                        <p>{{ order.county }}</p>
                                        {% endif %}
                                    </td>
                                    
                                    <td>
                                        <p>{{ order.town_or_city }}</p>
                                    </td>
                                    
                                    <td>
                                        {% if order.postcode %}
                                        <p>{{ order.postcode }}</p>
                                        {% endif %}
                                    </td>
                                    
                                    <td>
                                        <p>{{ order.country }}</p>
                                    </td>
                                </tr>
                                <tr class="pink-background">
                                    <th scope="col" class="font-two">Contact Information</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Phone Number:</p>
                                    </td>
                                    <td>
                                        <p>{{ order.phone_number }}</p>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Email Address:</p>
                                    </td>
                                    <td>
                                        <p>{{ order.email }}</p>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="pink-background">
                                    <th scope="col" class="font-two">Billing Information</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Order Total</p>
                                    </td>
                                    <td>
                                        <p>{{ order.order_total }}</p>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Delivery Charges:</p>
                                    </td>
                                    <td>
                                        <p>{{ order.delivery_cost }}</p>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Grand Total:</p>
                                    </td>
                                    <td>
                                        <p>{{ order.grand_total }}</p>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Order Status</p>
                                    </td>
                                    <td>
                                        <p>{{ order.order_status }}</p>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if from_order_history %}
                    <a href="{% url 'order_history' %}" class="btn rounded font-three">Return Order History</a>
                {% else %}
                    <a href="{% url 'home' %}" class="btn rounded font-three">Return Home Page</a>
                {% endif %}
            </div>    
        </div>
    </div>
{% endblock %}

