{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div  class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="layer"></div>
    <div class="container h-100">
        <div class="row">
            <div class="col">
                <h2 class="font-two text-uppercase page-header">Thank You For Your Order</h2>
                <p>Your order information is below. A confirmation email will be sent to {{ order.email }}</p>
                <p>We will let you know once your order has been dispatched.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12"></div>
        </div>
        <div class="row">
            <a href="{% url 'home' %}" class="btn rounded font-three">Return Home Page</a>
        </div>
    </div>
{% endblock %}

