<div class="col">
    <div class="row">
        <div class="col">
            <p>Name: </p>
        </div>
        <div class="col">
            <p>{{ order.first_name }} {{order.last_name}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Phone Number:</p>
        </div>
        <div class="col">
            <p>{{ order.phone_number }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Email Address:</p>
        </div>
        <div class="col">
            <p>{{ order.email }}</p>
        </div>
    </div>
    
</div>





