.headers {
    color: #FF78AC;
    letter-spacing: 2px;
}

@media screen and (max-width: 425px) {

    .headers,
    .table-rows {
        font-size: small;
    }

    .form-control {
        font-size: small;
    }

    #profile-update-form {
        font-size: small;
    }

    #margin {
        margin-top: -50%;
    }

   
}

@media screen and (min-width: 425px) {

    #margin {
        margin-top: -55%;
    }

   
}

@media screen and (min-width: 768px) {

    .headers {
        font-size: smaller;
    }

    .table-rows {
        font-size: smaller;
    }

    #margin {
        margin-top: -65%;
    }
}

@media screen and (min-width: 992px) {

    .headers {
        font-size: medium;
    }

    .table-rows {
        font-size: medium;
    }

    #margin {
        margin-top: -80%;
    }
}

@media screen and (min-width: 1200px) {

    #margin {
        margin-top: -95%;
    }
}