html {
    height: 100%;
}

body{
    height: calc(100vh - 164px);
    color: black;
    background: url('/media/homepage_image.webp') no-repeat center center fixed ;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.font-one {
    font-family: 'Leckerli One', sans-serif;
}

.font-two {
    font-family: 'Poiret One', sans-serif;
}

.font-three {
    font-family: 'Josephin Sans', sans-serif;
}

.font-four {
    font-family: 'Oregano', sans-serif;
}

.pink-font {
    color: #FF78AC;
}

.pink-background {
    background-color: #FF78AC;
}

.cream-color {
    background-color: #F2EFED;
}

.btn {
    background-color: #A8D5E3;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: static;
}

#logo {
    width: fit-content;
}

@media screen and (max-width: 425px) {

    .logo-font {
        font-size: 180%;
    }
    #logo {
        order: 1;
    }

    #search {
        order: 4;
    }

    #order {
        order: 2;
        padding-top: 1.25rem;
    }

    #welcome {
        margin-top: 80%;
        padding: 3%
    }
}

@media screen and (min-width: 768px) {

    #welcome {
        margin-top: 42%;
        padding: 6%
    }
}

@media screen and (min-width: 992px) {

    #welcome {
        margin-top: 33%;
        padding: 8%;
    }
}

@media screen and (min-width: 1200px) {
    
    #account {
        padding-right: 5%;
    }

    #basket {
        padding-left: 12%;
    }

}