html {
    height: 100%;
}

body{
    height: calc(100vh - 164px);
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    color: black;
    background: url('/media/homepage_image.webp') no-repeat center center fixed ;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.font-one {
    font-family: 'Leckerli One', sans-serif;
}

.font-two {
    font-family: 'Poiret One', sans-serif;
}

.font-three {
    font-family: 'Josephin Sans', sans-serif;
}

.font-four {
    font-family: 'Oregano', sans-serif;
}

.pink-font {
    color: #FF78AC;
}

.pink-background {
    background-color: #FF78AC;
}

.cream-color {
    background-color: #F2EFED;
}

.btn {
    background-color: #A8D5E3;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: static;
}

.layer {
    background-color: #F2EFED;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/*
.wrapper {
    padding-bottom: 3%;
}
*/

.border {
    border: 1px, solid #A8D5E3;
}

.product-img {
    height: 300px;
}

.product-img-size {
    height: 250px;
    width: 250px;
    object-fit: contain;
}

.price {
    font-weight: bold;
    font-size: larger;
}

.page-header {
    font-size: 300%;
    font-weight: 600;
    letter-spacing: 2px;
}

#product-name {
    font-size: small;
}

#logo {
    width: fit-content;
}

#msg {
    font-size: x-large;
}

#msg-btn {
    display: contents;
}


#title-font {
    font-weight: 700;
    font-size: large;
    letter-spacing: 1px;
}

#basket-font {
    font-size: xx-large;
    letter-spacing: 1px;
}

footer {
    margin-top: auto;
}

.footer-text {
    font-weight: 900;
}

.social-media-links {
    list-style: none;
    display: flex;
    margin-right: 2%;
    margin-top: 5%;
}

.icon{
    font-size: xx-large;
    color: #FF78AC;
}

@media screen and (max-width: 425px) {

    .logo-font {
        font-size: 180%;
    }
    #logo {
        order: 1;
    }

    #search {
        order: 4;
    }

    #order {
        order: 2;
        padding-top: 1.25rem;
    }

    #welcome {
        margin-top: 80%;
        padding: 3%
    }

    #margins {
        margin: 3%;
    }

    #spacing {
        justify-content: center;
    }

    #product-img {
        height: 228px;
    }

    #product-img-size {
        height: 200px;
        width: 200px;
    }

    #details-img-size {
        height: 300px;
        width: 300px;
        object-fit: contain;
    }

    #product-description {
        font-size: smaller;
    }
}

@media screen and (min-width: 768px) {

    #welcome {
        margin-top: 42%;
        padding: 6%
    }

    #spacing {
        justify-content: space-evenly;
    }

    #title-font {
        font-weight: 750;
        font-size: x-large;
    }

}

@media screen and (min-width: 992px) {

    .price {
        
        font-size: x-large;
    }
    
    #welcome {
        margin-top: 33%;
        padding: 8%;
    }
    
    #product-name {
        font-size: smaller;
    }
}

@media screen and (min-width: 1200px) {
    
    #account {
        padding-right: 5%;
    }

    #basket {
        padding-left: 12%;
    }

    #product-name {
        font-size: medium;
    }

}