<div class="collapse navbar-collapse" id="main-menu">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link mr-5">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a href="" class="nav-link mr-5" id="all-products" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Products</a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="" class="nav-link mr-5" id="yarn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Yarn</a>
            <div class="dropdown-menu border-0" aria-labelledby="yarn">
                <a href="{% url 'products' %}?product_category=yarn" class="dropdown-item">All Yarn</a>
                <a href="{% url 'products' %}?category=4_ply" class="dropdown-item">4-Ply</a>
                <a href="{% url 'products' %}?category=aran" class="dropdown-item">Aran</a>
                <a href="{% url 'products' %}?category=dk" class="dropdown-item">DK</a>
                <a href="" class="nav-link mr-5" id="yarn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Yarn Brands</a>
                <div class="dropdown-menu border-0" aria-labelledby="yarn">
                    <a href="{% url 'products' %}?brand=creative_cotton" class="dropdown-item">Creative Cotton</a>
                    <a href="{% url 'products' %}?brand=crochet_society" class="dropdown-item">Crochet Society</a>
                    <a href="{% url 'products' %}?brand=scheepjes_chunky_monkey" class="dropdown-item">Scheepjes Chunky Monkey</a>
                    <a href="{% url 'products' %}?brand=west_yorkshire_spinners_signature" class="dropdown-item">West Yorkshire Spinners Signature</a>
                </div>
            </div>
            
        </li>
        <li class="nav-item dropdown">
            <a href="" class="nav-link mr-5" id="tools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tools</a>
            <div class="dropdown-menu border-0" aria-labelledby="tools">
                <a href="{% url 'products' %}?product_category=tools" class="dropdown-item">All Tools</a>
                <a href="{% url 'products' %}?category=crochet_hooks_and_needles" class="dropdown-item">Crochet Hooks and Needles</a>
                <a href="{% url 'products' %}?category=counters_and_markers" class="dropdown-item">Counters and Markers</a>
                <a href="{% url 'products' %}?category=yarn_bowls" class="dropdown-item">Yarn Bowls</a>
                <a href="{% url 'products' %}?category=other" class="dropdown-item">Other</a>
                <a href="" class="nav-link mr5" id="tools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tool Brands</a>
                <div class="dropdown-menu border-0" aria-labelledby="tools">
                    <a href="{% url 'products' %}?brand=bella_coco" class="dropdown-item">Bella Coco</a>
                    <a href="{% url 'products' %}?brand=clover_armour" class="dropdown-item">Clover Armour</a>
                    <a href="{% url 'products' %}?brand=crochet_society" class="dropdown-item">Crochet Society</a>
                    <a href="{% url 'products' %}?brand=knit_pro" class="dropdown-item">Knit Pro</a>
                    <a href="{% url 'products' %}?brand=pony" class="dropdown-item">Pony</a>
                    <a href="{% url 'products' %}?brand=sirdar" class="dropdown-item">Sirdar</a>
                </div>
            </div>
        </li>
    </ul>
  </div>