<div class="collapse navbar-collapse" id="main-menu">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link mr-5">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a href="" class="nav-link mr-5" id="all-products" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Products</a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="" class="dropdown-item">Category</a>
                <a href="" class="dropdown-item">Price</a>
                <a href="" class="dropdown-item">Brand</a>
            </div>
        </li>
        <li class="nav-item dropdown-item">
            <a href="" class="nav-link mr-5" id="yarn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Yarn</a>
            <div class="dropdown-menu border-0" aria-labelledby="yarn">
                <a href="" class="dropdown-item">All Yarn</a>
                <a href="" class="dropdown-item">Brand</a>
                <a href="" class="dropdown-item">Price</a>
                <a href="" class="dropdown-item">Colour</a>
            </div>
        </li>
        <li class="nav-item dropdown-item">
            <a href="" class="nav-link mr-5" id="tools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tools</a>
            <div class="dropdown-menu border-0" aria-labelledby="tools">
                <a href="" class="dropdown-item">All Tools</a>
                <a href="" class="dropdown-item">Brand</a>
                <a href="" class="dropdown-item">Price</a>
                <a href="" class="dropdown-item">Category</a>
            </div>
        </li>
    </ul>
  </div>