<div class="collapse navbar-collapse" id="main-menu">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link mr-5">Home</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'products' %}" class="nav-link mr-5">All Products</a>
        </li>
        <li class="nav-item dropdown">
            <a href="" class="nav-link mr-5" id="yarn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Yarn</a>
            <div class="dropdown-menu border-0" aria-labelledby="yarn">
                <a href="{% url 'products' %}?yarn_category=4_ply,aran,dk" class="dropdown-item">All Yarn</a>
                <a href="{% url 'products' %}?yarn_category=4_ply" class="dropdown-item">4-Ply</a>
                <a href="{% url 'products' %}?yarn_category=aran" class="dropdown-item">Aran</a>
                <a href="{% url 'products' %}?yarn_category=dk" class="dropdown-item">DK</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="" class="nav-link mr-5" id="tools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tools</a>
            <div class="dropdown-menu border-0" aria-labelledby="tools">
                <a href="{% url 'products' %}?tool_category=crochet_hooks_and_needles,counters_and_markers,yarn_bowls,other" class="dropdown-item">All Tools</a>
                <a href="{% url 'products' %}?tool_category=crochet_hooks_and_needles" class="dropdown-item">Crochet Hooks and Needles</a>
                <a href="{% url 'products' %}?tool_category=counters_and_markers" class="dropdown-item">Counters and Markers</a>
                <a href="{% url 'products' %}?tool_category=yarn_bowls" class="dropdown-item">Yarn Bowls</a>
                <a href="{% url 'products' %}?tool_category=other" class="dropdown-item">Other</a>
            </div>
        </li>
    </ul>
  </div>