{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div  class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="layer"></div>
    <div class="container-fluid d-flex">
        <div class="row pt-5 align-items-center" id="spacing">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="image-container d-flex justify-content-center">
                    <img src="{{ product.image.url }}" alt=" {{ product.name }}" class="w-100" id="details-img-size">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="product-details-container p-3">
                    <p class="font-three" id="title-font">{{ product.name }}</p>
                    <p class="pink-font font-three price">£{{ product.price }}</p>
                    <p id="product-description">{{ product.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}