{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="layer"></div>
    <div class="container-fluid d-flex">
        <div class="row pt-5 align-items-center" id="spacing">
            <div class="col-12 col-md-6 col-lg-4">
                {% if product.image %}
                <div class="image-container d-flex justify-content-center">
                    <img src="{{ product.image.url }}" alt=" {{ product.name }}" class="w-100" id="details-img-size">
                </div>
                {% else %}
                <div>
                    <img class="card-img-top img-fluid product-img-size" src="{{ MEDIA_URL }}no_image.webp" alt="{{ product.name }}">
                </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-6">
                <div class="product-details-container p-3">
                    <p class="font-three" id="title-font">{{ product.name }}</p>
                    {% if request.user.is_superuser %}
                    <div class="d-flex justify-content-end">
                        <a class="btn rounded font-three small-btn m-2" href="{% url 'edit_product' product.id %}">Edit</a>
                        <a class="btn rounded font-three small-btn m-2" href="{% url 'delete_product' product.id %}">Delete</a>
                    </div> 
                    {% endif %}
                    <p class="pink-font font-three price">£{{ product.price }}</p>
                    <p id="product-description">{{ product.description }}</p>
                    {% if product.yarn_category %}
                    <p>Yarn Weight: {{ product.yarn_category }}</p>
                    {% elif product.tool_category %}
                    <p>Category: {{ product.tool_category }}</p>
                    {% endif %}
                    <form action="{% url 'add_to_basket' product.id %}" class="form" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p>Quantity:</p>
                                <div class="form-group w-25">
                                    <div class="input-group input-group-{{ product.id }} sizing">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn rounded decrement-qty_{{ product.id }}" data-item_id="{{ product.id }}">
                                                <i class="fa-solid fa-minus"></i>
                                            </button>
                                        </div>
                                        <input type="number" class="form-control qty_input id_qty_{{ product.id }}" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn rounded increment-qty_{{ product.id }}" data-item_id="{{ product.id }}">
                                                <i class="fa-solid fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 inline-grid">
                            <input type="submit" class="btn rounded font-three m-3" value="Add to Basket">
                            <a href="{% url 'products' %}" class="btn rounded font-three m-3">Keep Shopping</a>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}